<form method="post" action="{{ path('marchandise_delete', {'id': marchandise.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimée ce product ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marchandise.id) }}">
    <button class="btn">Supprimer</button>
</form>
