{% extends 'base.html.twig' %}

{% block title %}Modifier la Marchandise{% endblock %}

{% block body %}
    <article class="pageAll">
        <h1>Vous pouvez modifier la Marchandise</h1>
        
        {{ include('marchandise/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        
        <article class="boxLink">
            {{ include('marchandise/_delete_form.html.twig') }}
            <a class="btnLink" href="{{ path('marchandise_index') }}">Revenir à la liste</a>
        </article>
    </article>
{% endblock %}
