{% extends 'base.html.twig' %}

{% block title %}Edit Marchandise{% endblock %}

{% block body %}
    <h1>Edit Marchandise</h1>

    {{ include('marchandise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_marchandise_index') }}">back to list</a>

    {{ include('marchandise/_delete_form.html.twig') }}
{% endblock %}
