{% extends 'base.html.twig' %}

{% block title %}Nouvelle Marchandise{% endblock %}

{% block body %}
    <article class="pageAll">
        <h1>Crée une nouvelle Marchandise</h1>
        
        {{ include('marchandise/_form.html.twig') }}
        
        <article class="boxLink">
            <a class="btnLink" href="{{ path('marchandise_index') }}">Revenir à la liste</a>
        </article>
    </article>
{% endblock %}
