{% extends 'base.html.twig' %}

{% block title %}New Marchandise{% endblock %}

{% block body %}
    <h1>Create new Marchandise</h1>

    {{ include('marchandise/_form.html.twig') }}

    <a href="{{ path('app_marchandise_index') }}">back to list</a>
{% endblock %}
