<form method="post" action="{{ path('article_delete', {'idProduct': article.idProduct}) }}" onsubmit="return confirm('Voulez vous vraiment supprimée cette Article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.idProduct) }}">
    <button class="btn">Supprimer</button>
</form>
