<form method="post" action="{{ path('article_delete', {'idProduct': article.idProduct}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.idProduct) }}">
    <button class="btn">Delete</button>
</form>
