{% extends 'base.html.twig' %}

{% block title %}Modifier l'Article{% endblock %}

{% block body %}
    <article class="pageAll">
        <h1>Vous pouvez modifier l'Article</h1>
        
        {{ include('article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        
        <article class="boxLink">
            {{ include('article/_delete_form.html.twig') }}
            <a class="btnLink" href="{{ path('article_index') }}">Revenir à la liste</a>
        </article>
    </article>
{% endblock %}
