{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <article class="pageAll">
        <h1>Crée un nouvel Article</h1>
        
        {{ include('article/_form.html.twig') }}
        
        <article class="boxLink">
            <a class="btnLink" href="{{ path('article_index') }}">Revenir à la liste</a>
        </article>
    </article>
{% endblock %}
