{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Description</th>
                <th>Nom de la marchandise</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.reference }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
